# Rust
/target

# LaTeX build stuff
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

# Temporary LaTeX documents
*/*.pdf

# Downloaded files
pg201.txt
